.program__item {
    grid-template-rows:  100px 1fr 100px;
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 250px;
    box-shadow: 2px 2px 8px rgba(124, 41, 124, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background: #fff;
    align-content: end;
}
@media all and (max-width: 1200px)  {
    .program__item{
        grid-template-rows:  90px 1fr 100px;
    }
}
@media all and (max-width: 800px)  {
    .program__item{
        grid-template-rows: max-content 1fr max-content;
        min-height: 200px;
    }
}

@media all and (max-width: 500px)  {
    .program__item{
    }
}