
.reviews__items {
    display: grid;
    grid-template-columns: repeat(13, max-content);
    gap: 20px;
    justify-items: start;
    justify-content: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
}

@media all and (max-width: 700px)  {
    .reviews__items {
        display: none;
    }
}