.cards__img {
    z-index: 2;
    max-width: 450px;
    grid-area: img;
    align-self: center;
    justify-self: center;
}
@media all and (max-width: 700px)  {
    .cards__img {
        object-fit:contain;
        width: 100%;
    }
}