.cards__item {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
    padding: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    padding: 30px;
    box-sizing: border-box;
    background: rgb(250, 249, 249);
    box-shadow: 2px 2px 8px rgba(124, 41, 124, 0.8);
    justify-content: center;
    justify-self: end;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
}

.cards__item:first-of-type {
    grid-area: item1;
    grid-template-areas: 
    "title img"
    "pr img"
    "ps img";
}
.cards__item:nth-of-type(2) {
    grid-area: item2;
    grid-template-areas: 
    "img title"
    "img pr"
    "img ps";
}
.cards__item:nth-of-type(3) {
    grid-area: item3;
    grid-template-areas: 
    "title img"
    "pr img"
    "ps img";
}
.cards__item:nth-of-type(4) {
    grid-area: item4;
    grid-template-areas: 
    "img title"
    "img pr"
    "img ps";
}
.cards__item:nth-of-type(5) {
    grid-area: item5;
    grid-template-areas: 
    "title img"
    "pr img"
    "ps img";
}
.cards__item:nth-of-type(6) {
    grid-area: item6;
    grid-template-areas: 
    "img title"
    "img pr"
    "img ps";
}

@media all and (max-width: 1200px)  {
    .cards__item {
        padding: 25px;
    }
}
@media all and (max-width: 900px)  {
    .cards__item:first-of-type, .cards__item:nth-of-type(2), .cards__item:nth-of-type(3), .cards__item:nth-of-type(4), .cards__item:nth-of-type(5), .cards__item:nth-of-type(6){
        grid-template-columns: 1fr;
        grid-template-rows:min-content min-content min-content min-content;
        grid-template-areas: 
        "title"
        "img"
        "pr"
        "ps";
    }
}
@media all and (max-width: 800px)  {
    .cards__item {
        padding: 20px;
    }
}
@media all and (max-width: 500px)  {
    .cards__item {
        padding: 15px;
    }
}