.form__submit_inactive {
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(124, 41, 124, 0.8);
    color: #000;
}
.form__submit_inactive:hover {
    background: #FFFFFF;
    color: #000;
    cursor: auto;
    opacity: 1;
}