.bonus {
    display: grid;
    grid-template-rows: max-content 1fr 1fr max-content ;
    background: rgba(237, 189, 233, 0.871) no-repeat;
    background-image: url(../../images/bonus.png);
    background-size: cover;
    background-position: 100% 50%;
    min-height: 500px;
    text-align: center;
    padding: 60px 100px;
}

@media all and (max-width: 1500px)  {
    .bonus {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .bonus {
        padding: 40px 60px;
    }
}

@media all and (max-width: 800px)  {
    .bonus {
        padding: 40px;
    }
}
@media all and (max-width: 500px)  {
    .bonus {
        padding: 20px;
    }
}